/* Footer style code */

.logo{
    width: 20px;
}
#copyrightLine{
    color: white;
    font-size: 20px;
    padding: 8px 0px;
    border-radius: 7px;
}

.emailBox{
    width: 350px;
    height: 45px;
    border: 1px solid black;
    border-radius: 5px;
    background-color: white;
}
.emailBox:hover{
    border: 2px solid blue;
    transition: 0.5s;
}
.subscribeBox{
    height: 45px;
    color: white;
    border:2px solid blue;
    border-radius: 5px;
}
.subscribeBox:hover {
    color: blue;
    background-color: white;
    transition: 1s;
}
#subscribeSection{
    color: white;
}

.flexContainer{
    display: flex;
    flex-direction: row;
    justify-content: start;
}
#socialMediaSection{
    position: relative;
    left: 400px;
    top: 40px;
    /* bottom: 30px; */
}
.icons{
    width: 30px;
    height: 30px;
    margin-right: 20px;
}
.icons:hover{
    box-shadow: 3px 3px 3px white;
    transition: 0.4s;
}
#footer{
    background-color: rgb(0, 0, 0);
}