.quote {
  text-align: center;
  position: absolute;
  width: 350px;
  font-size: 30px;
  top: 35%;
  left: 2%;
  color: black;
  z-index: 3;
}
.head {
  font-size: 50px;
}
.domainName{
    font-size: 30px;
  }
/* Card hovering code */
/* Start */

.card .read-more:hover {
  font-size: 14px;
}

.card:hover {
  box-shadow: 8px 8px 8px rgb(205, 205, 224);
  transform: scale(1.04);
}

.card {
  height: 200px;
  width: 250px;
  border: 2px solid black;
  transition: 0.3s;
  margin: 1rem;
  margin-right: 20px;
}

/* End */

.dropdown:hover .dropdown-menu {
  display: block;
  margin-top: 0; /* remove the gap so it doesn't close */
  margin-left: 100px;
  padding-right: 80px;
}

.typeahead {
  width: 130%;
  border: 2px solid black;
  padding: 10px 10px;
  border-radius: 20px;
  right: 300px !important;
  margin-right: 50px;
  background-color: rgb(232, 233, 233);
}
.typeahead:hover {
  border: 2px solid blue;
  transition: 0.5s;
}

/* Styling community subpage */
/* Start */

.RoadmapGuiderCommunity img {
  width: 250px;
  position: relative;
  left: 30px;
}
/* End */
.skillsPage {
  background-color: rgb(234, 234, 228);
  background-color: #ded9d9;
  /* background-color: #d5d2d0; */
}

.atag {
  color: black;
}

.atag:hover {
  text-decoration: none;
  color: black;
}
.homePageBgImage {
  float: right;
  width: 90vw;

  background-color: white;
}
header {
  width: 100vw;
  height: 100vh;
  background-color: rgb(221, 218, 211);
}
input {
  border-radius: 10px;
  background-color: rgb(206, 206, 211);
  color: white;
  padding: 2px 12px;
  border: 2px solid blue;
}
input::placeholder {
  font-weight: 30px;
}
input:hover {
  color: rgb(21, 21, 226);
  background-color: white;
  transition: 0.9s;
}

.communityText {
  padding: 10px;
  border-radius: 10px;
  box-shadow: 6px 6px 6px 6px rgb(231, 228, 228);
}
#aboutAndSignIn {
  font-size: 20px;
}
#aboutAndSignIn a:hover {
  color: black;
  text-decoration: none;
  transition: 1s;
}
.profileImg{
  margin-left: 20px;
  width: 40px;
  height: 40px;
}
#profile
{
  box-shadow: 4px 4px 4px 4px rgb(214, 214, 214);
  border-radius: 10px;
  background-color: white;
  color: black;
  width: 220px;
  position: absolute;
  right: 0px;
  top: 0px;
  padding-top: 40px;
  display: none;
}
#flex{
  display: flex;
  flex-direction: row;
  justify-content:start;
  margin-top: 10px;
  padding:0px  10px;
}
.crossInProfileImg{
 position: absolute;
 right: 5px;
 top: 10px;
  width: 25px;
  height: 25px;
}
#profile p{
  margin-bottom: 4px;
}
#profile a{
  position: relative;
  left: 50px;
  
}
#sections {
  margin-bottom: 20px;
}
#sections p {
  display: inline;
  margin-right: 20px;
}
#section2,
#section3 {
  padding: 10px;
  border-radius: 10px;
  border: 2px solid white;
  border-top: 2px solid black;
  border-left: 2px solid black;
  border-right: 2px solid black;

  box-shadow: 3px 3px 3px rgb(217, 216, 216);
}
#section1 {
  padding: 10px;
  border-radius: 10px;
  border: 2px solid white;
  border-bottom: 2px solid black;
  border-left: 2px solid black;
  border-right: 2px solid black;
  box-shadow: 3px 3px 3px rgb(217, 216, 216);
}
#section2:hover,
#section3:hover {
  border: none;
  border: 2px solid white;
  border-bottom: 2px solid black;
  border-right: 2px solid black;
  border-left: 2px solid black;
  background-color: rgb(239, 235, 235);
  transition: 0.6s;
}
#section1:hover {
  border: none;
  border: 2px solid white;
  border-bottom: 2px solid black;
  border-right: 2px solid black;
  border-left: 2px solid black;
  background-color: rgb(239, 235, 235);
  transition: 0.6s;
}
#sectionBlock2,
#sectionBlock3 {
  display: none;
}

/* Sign In page CSS */

/* Start */

.SignInContainer {
  display: none;
}
#crosIcon,
#crosIcon2 {
  width: 30px;
  position: relative;
  left: 150px;
  bottom: 30px;
}
.form-box {
  width: 370px;
  max-width: 400px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(95%, -75%);
  border-radius: 10px;
  padding: 50px 50px;
  text-align: center;
  background-color: #ffffff;
  box-shadow: 4px 4px 4px rgb(236, 236, 236);
}
.form-box h1 {
  font-size: 30px;
  color: rgb(15, 16, 16);
  position: relative;
}
.form-box h1::after {
  content: "";
  width: 110px;
  height: 5px;
  border-radius: 5px;
  background: #191717;
  position: absolute;
  bottom: -10px;
  left: 30%;
  transform: tr anslate(-40%);
}
.input-field {
  background: #d2cccc;
  margin-bottom: 20px;
  margin-left: 20px;
  border-radius: 7px;
  display: flex;
  align-items: center;
  max-height: 35px;
  transition: max-height 0.5s;
  overflow: hidden;
}
.inputBox {
  width: 100%;
  background: transparent;
  border: 0;
  outline: 0;
  padding: 18px 15px;
  height: 15px;
}
.inputBox:hover {
  background-color: #d2cccc;
}
.input-field i {
  margin-left: 15px;
  color: rgb(0, 0, 0);
}
#form p {
  text-align: left;
  font-size: 13px;
}
#form p a {
  text-decoration: none;
  color: #d309d3;
}
.btn-filed {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.btn-filed button {
  flex-basis: 48%;
  background: #3c003c;
  color: #fff;
  height: 40px;
  border-radius: 20px;
  border: 0;
  outline: 0;
  cursor: pointer;
  transition: background 1s;
}
.btn-filed button.disable {
  background: #7d7a7a;
  color: #d2cccc;
}

#signupBtn {
  padding: 10px 20px;
  position: relative;
  left: 100px;
  bottom: 20px;
}
.SignInContainer2 {
  display: none;
}
#signinBtn,
#signupBtn2 {
  width: 80px;
  border-radius: 10px;
  border: none;
  background-color: white;
  color: blue;
}
#signinBtn:hover,
#signupBtn2:hover {
  color: black;
}
/* End */

/* Css code for up scroll icon */

.upArrowButton {
  background: rgb(166, 165, 165);
  position: fixed;
  bottom: 16px;
  right: 32px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 32px;
  color: #1f1f1f;
  text-decoration: none;
  opacity: 0;
  pointer-events: none;
  transition: all 0.4s;
}

.upArrowButton.active {
  bottom: 32px;
  pointer-events: auto;
  opacity: 1;
}

/* Style for analog clock */

#clockContainer {
  position: relative;
  margin: auto;
  height: 40vw;
  /*to make the height and width responsive*/
  width: 10vw;
  background: url(Images/clockImage3.png) no-repeat;
  background-size: 100%;
  position: absolute;
  top: 110px;
  right: 10px;
}

#hour,
#minute,
#second {
  position: absolute;
  background: black;
  border-radius: 10px;
  transform-origin: bottom;
}

#hour {
  width: 2%;
  height: 7.5%;
  top: 4.9%;
  left: 48.85%;
  bottom: 50%;
  opacity: 0.9;
}

#minute {
  width: 1.6%;
  height: 8%;
  top: 4.6%;
  left: 48.9%;
  opacity: 0.8;
}

#second {
  width: 1%;
  height: 9%;
  top: 3.5%;
  left: 49.25%;
  opacity: 0.8;
}

/* Style for contact us page */
/* Start */

#contact_us {
  display: none;
  margin: 20px;
  /* position: relative;
    left: 30%; */
  position: absolute;
  top: 85px;
  left: 500px;
  width: 450px;
  padding: 50px;
  border-radius: 10px;
  color: black;
  background-color: white;
  /* background-color: rgb(103, 55, 55); */
  box-shadow: 4px 4px 4px 4px rgb(190, 190, 190);
}
#contact_us input {
  border: 2px solid white;
  background-color: white;
}
#contact_us input:hover {
  border: 2px solid white;
  color: black;
}
.contactInput,
textarea {
  padding: 5px 0px;

  border-radius: 10px;
  box-shadow: 3px 3px 3px 3px rgb(190, 190, 190);
  text-align: center;
}
.contactInput:hover {
  box-shadow: 5px 5px 5px 5px rgb(190, 190, 190);
  transition: 1s;
}
.contactInput {
  width: 250px;
  text-align: center;
}
#contact_us > label {
  font-size: 40px;
}
textarea {
  border-radius: 10px;
}
#contactSubmit {
  padding: 10px 20px;
  border-radius: 5px;
  position: relative;
  top: 20px;
  left: 100px;
  color: blue;
  border: 2px solid blue;
}

#contactSubmit:hover {
  color: white;
  background-color: blue;
  transition: 1s;
}
#ContactCrosIcon {
  width: 30px;
  position: relative;
  left: 350px;
  bottom: 30px;
}
#message {
  font-size: 20px;
}
#aboutAndSignIn a{
    margin-right: 200px;
}
#searchBox{
    display: none;
}
/* End */

/* Adding Media queries */

/* 1.To index.html page */

/* Start */

@media (max-width: 1150px) {
  .quote {
    text-align: center;
    position: absolute;
    width: 300px;
    font-size: 25px;
    top: 30%;
    left: 0%;
    color: black;
    z-index: 3;
  }
  .head {
    font-size: 40px;
  }
  .domainName{
    font-size: 20px;
  }

  #aboutAndSignIn a{
    margin-right: 100px;
  }
  header {
    width: 100vw;
    height: 50vh;
    background-color: rgb(221, 218, 211);
  }
  #sections{
    padding-top: 100px;
  }
  
}

@media (max-width: 950px) {
  .quote {
    text-align: center;
    position: absolute;
    width: 200px;
    font-size: 20px;
    top: 27%;
    left: 0%;
    color: black;
    z-index: 3;
  }
  .head {
    font-size: 25px;
  }
  .typeahead {
    width: 110%;
    border: 2px solid black;
    padding: 7px 17px;
    border-radius: 20px;
    right: 200px !important;
    margin-right: 50px;
    background-color: rgb(210, 213, 216);
  }
  .typeahead:hover {
    border: 2px solid blue;
    transition: 0.5s;
  }
  #aboutAndSignIn a{
    margin-right: 60px;
  }
  header {
    width: 100vw;
    height: 20vh;
    background-color: rgb(221, 218, 211);
  }
  #sections{
    padding-top: 30%;
  }
}
@media (max-width: 840px) {
 
  .typeahead {
    width: 100%;
    border: 2px solid black;
    padding: 7px 5px;
    border-radius: 20px;
    font-size: 15px;
    right: 200px !important;
    margin-right: 50px;
    background-color: rgb(210, 213, 216);
   
  }
  .typeahead:hover {
    border: 2px solid blue;
    transition: 0.5s;
  }
  .domainName{
    font-size: 18px;
  }
  #aboutAndSignIn a{
    margin-right: 50px;
  }
  header {
    width: 100vw;
    height: 20vh;
    background-color: rgb(221, 218, 211);
  }
  #sections{
    padding-top: 30%;
  }
}

@media (max-width: 700px) {
  .quote {
    text-align: center;
    position: absolute;
    width: 150px;
    font-size: 15px;
    top: 18%;
    left: 0%;
    color: black;
    z-index: 3;
  }
  .head {
    font-size: 20px;
  }
  .domainName{
    font-size: 25px;
  }
  .domainName{
    font-size: 16px;
  }
  .typeahead {
    width: 100%;
    border: 2px solid black;
    padding: 7px 5px;
    border-radius: 20px;
    font-size: 15px;
    right: 200px !important;
    margin-right: 50px;
    background-color: rgb(210, 213, 216);
   
   
  }
  .typeahead:hover {
    border: 2px solid blue;
    transition: 0.5s;
  }
  #aboutAndSignIn a{
       display: none;
}
  #aboutAndSignIn input{
    width: 80px;
    font-size: 15px;
    padding: 5px;
  }
  header {
    width: 100vw;
    height: 20vh;
    background-color: rgb(221, 218, 211);
  }
  #sections{
    padding-top: 30%;
  }
 
}

@media (max-width: 560px) {
  .quote {
    text-align: center;
    position: absolute;
    width: 100px;
    font-size: 10px;
    top: 22%;
    left: 0%;
    color: black;
    z-index: 3;
  }
  .head {
    font-size: 10px;
  }
  #contactButton {
    width: 75px;
  }
  .typeahead {
    width: 100%;
    border: 2px solid black;
    padding: 2px 3px;
    border-radius: 20px;
    font-size: 15px;
    right: 200px !important;
    margin-right: 50px;
    background-color: rgb(210, 213, 216);
   position: relative;
   top: 10px;
   left: 5px;
  }
  .typeahead:hover {
    border: 2px solid blue;
    transition: 0.5s;
  }
  .domainName{
    font-size: 12px;
    position: relative;
    right: 12px;
  }
  #aboutAndSignIn input{
    width: 80px;
    font-size: 15px;
    padding: 5px;
    position: relative;
    top: 10px;
  }
  header {
    width: 100vw;
    height: 30vh;
    background-color: rgb(221, 218, 211);
  }
  #sections{
    padding-top: 30%;
  }
 
}
@media (max-width: 500px) {

    .typeahead {
        width:100%;
        border: 2px solid black;
        padding: 5px 0px;
        border-radius: 20px;
        font-size: 15px;
        right: 200px !important;
        margin-right: 50px;
        background-color: rgb(210, 213, 216);
       position: relative;
       top: 10px;
       left: 5px;
      }

    #inputBox{
        display: none;
    }
    #searchBox{
        display: block;
    }
    #aboutAndSignIn input{
        width: 60px;
        font-size: 13px;
        padding: 5px;
        position: relative;
        top: 10px;
        left: 10px;
      }
      .domainName{
        font-size: 10px;
      }
      #clockContainer {
        position: relative;
        margin: auto;
        height: 40vw;
        width: 10vw;
        background: url(Images/clockImage3.png) no-repeat;
        background-size: 100%;
        position: absolute;
        top: 120px;
        right: 10px;
      }
      #searchBox{
        position: relative;
        right: 50px;
      }
      header {
        width: 100vw;
        height: 20vh;
        background-color: rgb(221, 218, 211);
      }
      #sections{
        padding-top: 10%;
      }
}


/* End */
